
<head>
  <meta charset="utf-8">
</head>
<body>

<div>
<div style="height: 79vh;" class="curve">
    <img title="aa" class="img-background" src="./assets/images/traveling.svg">
</div>

<div class="text-on-image">
    <p>
        Welcome,<br>
        Transportation become easier
    </p>
</div>

<div class="card" style="left: 15%;">
    <img title="aa" src="./assets/images/UberX.webp">
    <p>Uber car</p>
    <button type="button" class="btn btn-primary">Take a ride</button>
</div>
<div class="card" style="left: 33%;">
    <img title="aa" src="./assets/images/UberX.webp">
    <p>Uber premium</p>
    <button type="button" class="btn btn-primary">Take a ride</button>
</div>
<div class="card" style="left: 51%;">
    <img title="aa" style="margin-left: 25px;" src="./assets/images/Moto.webp">
    <p>Uber Scotter</p>
    <button type="button" class="btn btn-primary">Take a ride</button>
</div>
<div class="card" style="left: 69%;">
    <img title="aa" style="width: 80%; margin-top: 35px; height: 40%;" src="./assets/images/OIP.jpg">
    <p>Uber bus</p>
    <button type="button" class="btn btn-primary">Take a ride</button>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="row" style="background-color:  #f5f5f6; width: 100%;">
    <div class="col-7">
        <div class="text-besidecar">
            <p style="font-size: 55px;">
                Why we are safe?<br>
            </p>
            <p style="font-size: 30px;">
                All drivers verify their documents in the app before they take an order
            </p>
        </div>
    </div>  
    <div class="col-5" >
        <img title="aa" style="width: 100%;" src="./assets/images/safecar.svg">
    </div>
</div>
</body>


